{% extends 'Layout.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>
        show user
    </title>
    {% endblock %}
    
<body>
    {% block content %}

   {% if data %}
    <div class="success">
      <h3>Form Submitted Successfully!</h3>
      <p><strong>First Name:</strong> {{ data.first_name }}</p>
      <p><strong>Last Name:</strong> {{ data.last_name}}</p>
      <p><strong>Email:</strong> {{ data.email }}</p>
     <p><strong>Mobile:</strong> {{ data.mobile }}</p>

    </div>
  {% endif %} 

  {% endblock %}
    
</body>
</html>>